<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brentonbostick.bypass.android.full"
    android:versionCode="3"
    android:versionName="1.0.2" >
    
    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="10" />
    
    <uses-configuration android:reqTouchScreen="finger" />
    
    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name="com.brentonbostick.bypass.android.full.MainMenuActivity"
            android:theme="@style/Theme.BypassMainMenu"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.brentonbostick.bypass.android.menu.LevelMenuActivity"
            android:theme="@style/Theme.BypassLevelMenu"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        
        <activity
            android:name="com.brentonbostick.bypass.android.level.BypassWorldActivity"
            android:theme="@style/Theme.BypassWorld"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        
    </application>

</manifest>
